* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
}

body {
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: 16px 16px;
  min-height: 100vh;
}

.clock {
  width: 18.75rem;
  height: 18.75rem;
  background-color: whitesmoke;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}

.clock .number {
  --rotation: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .hand {
  --rotation: 0;

  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid whitesmoke;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 0.9375rem;
  height: 0.9375rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.second {
  width: 0.1875rem;
  height: 45%;
  background-color: red;
}

.clock .hand.minute {
  width: 0.4375rem;
  height: 38%;
  background-color: black;
}

.clock .hand.hour {
  width: 0.625rem;
  height: 32%;
  background-color: black;
}
